<ion-header>
  <ion-navbar>
    <ion-title>
      Trip Details
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="danger" *ngIf="!trip.submitted" (click)="showTripForm()">
        <ion-icon name="cloud-upload"></ion-icon>
        Upload
      </button>
      <span ion-button icon-left class="item-left" *ngIf="trip.submitted">
        <ion-icon name="cloud-done"></ion-icon>
        Uploaded
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div ion-fixed id="trip-detail-map"></div>
  <div class="trip-stats">
    <ion-list padding-top>
      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
          {{trip.startTime.format('MMMM D, YYYY [at] h:mm A')}}
      </ion-item>
      <ion-item *ngIf="trip.origin > 0 || trip.destination > 0">
        <ion-icon name="bicycle" item-left></ion-icon>
          {{trip.formatOrigin()}}
          <ion-icon name="arrow-forward"></ion-icon>
          {{trip.formatDestination()}}
      </ion-item>
      <ion-item>
        <ion-icon name="stopwatch" item-left></ion-icon>
          {{trip.stats.formatDuration()}}
      </ion-item>
      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
          {{trip.stats.formatDistance()}} mi
      </ion-item>
      <ion-item>
        <ion-icon name="speedometer" item-left></ion-icon>
          {{trip.stats.formatSpeed()}} MPH
      </ion-item>
      <ion-item>
        <ion-icon name="pizza" item-left></ion-icon>
          {{trip.stats.formatCalories()}} cal
      </ion-item>
      <ion-item>
        <ion-icon name="leaf" item-left></ion-icon>
          {{trip.stats.formatGHG()}} lb GHG
      </ion-item>
    </ion-list>
  </div>
</ion-content>
