**/node_modules
apps/20_big-top_Robinyo/screen-shots
apps/ionic2-starter_mbamobi/platforms
apps/ionic3-dress_IonicBlog/screens
apps/timeline/node_modules
apps/the-health-guide_razvantomegea/platforms
apps/the-health-guide_razvantomegea/plugins
apps/Sunshine_s2hsieh/plugins
apps/Sunshine_s2hsieh/platforms