page-tutorial {
  .slide {
    font-size: 15px;
  }
  .slide-zoom {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .illustration {
    flex: 0 1 auto;
    margin: 0 auto;
    width: 75%;
  }
  @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
    .illustration {
      left: 2.5%;
      height: 100%;
      position: absolute;
      top: 0;
      width: 25%;
    }
    h1,
    p {
      margin-left: 30%;
      text-align: center;
    }
  }
}
