<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="modal">Introduction</span>
      <span *ngIf="!modal">Help</span>
    </ion-title>
    <ion-buttons end *ngIf="modal">
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
        Skip
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager ion-fixed>
    <ion-slide padding class="slide slide-welcome">
      <h1>
        Welcome to BikeMoves!
      </h1>
      <img class="illustration" src="assets/img/tutorial-welcome.svg" alt="">
      <p>
        BikeMoves allows you to record your bicycle trips and share them
        with local planners. It also provides you with helpful information
        about the bicycle network.
      </p>
    </ion-slide>
    <ion-slide padding class="slide slide-map">
      <h1>
        Explore the Map
      </h1>
      <p>
        The map shows the locations of bicycle facilities like bike lanes
        and bike parking. Tap features on the map to learn more about them.
      </p>
      <img class="illustration" src="assets/img/tutorial-map.svg" alt="">
      <p>
        See a problem? Tap the <strong>+</strong> button to report issues like
        potholes or fallen tree limbs.
      </p>
    </ion-slide>
    <ion-slide padding class="slide slide-record">
      <h1>
        Record a Trip
      </h1>
      <p>
        With automatic recording, BikeMoves will automatically start and stop
        trips based on the movement of your phone. Just open the app,
        jump on your bike, and go!
      </p>
      <img class="illustration" src="assets/img/tutorial-record.svg" alt="">
      <p>
        BikeMoves waits three minutes after you stop biking
        to make sure the trip is over. Tap the <strong>Stop</strong> button
        to end the trip and save it immediately.
      </p>
    </ion-slide>
    <ion-slide padding class="slide slide-upload">
      <h1>
        Upload Trips
      </h1>
      <p>
        Visit the <strong>Trips</strong> tab to review your saved trips. Tap
        <strong>Upload</strong> on a trip to share it with local planners.
      </p>
      <img class="illustration" src="assets/img/tutorial-upload.svg" alt="">
      <p>
        Trips you upload help to improve bicycle planning in the community!
        To protect your privacy, the details of individual trips are never
        made public.
      </p>
    </ion-slide>
    <ion-slide padding class="slide slide-stats">
      <h1>
        Track Your Riding
      </h1>
      <img class="illustration" src="assets/img/tutorial-stats.svg" alt="">
      <p>
        The <strong>Stats</strong> tab shows statistics about your trips,
        like the number of miles, average speed, and greenhouse gas reduced.
        You can view your riding statistics for the week, month, or year.
      </p>
    </ion-slide>
    <ion-slide padding class="slide slide-settings">
      <h1>
        Change Settings
      </h1>
      <img class="illustration" src="assets/img/tutorial-settings.svg" alt="">
      <p>
        The <strong>Settings</strong> tab allows you to enable or disable
        automatic recording and update your user profile. Demographics from
        your profile are shared anonymously with local planners.
      </p>
    </ion-slide>
    <ion-slide padding class="slide slide-conclusion">
      <h1>
        Happy Riding!
      </h1>
      <img class="illustration" src="assets/img/tutorial-conclusion.svg" alt="">
      <p>
        <button ion-button full icon-left (click)="dismiss()">
          <ion-icon name="bicycle"></ion-icon>
          Get Started
        </button>
      </p>
    </ion-slide>
  </ion-slides>
<ion-content>
