page-legend {
  .symbol {
    display: block;
    height: 15px;
    width: 15px;
  }
  .symbol-parking::after {
    background-color: #e63900;
    border-radius: 4.5px;
    content: '';
    display: block;
    height: 9px;
    margin: 3px;
    width: 9px;
  }
  .symbol-repair {
    background-image: url(../assets/img/icon-bicycle.svg);
    background-size: contain;
  }
  .symbol-line::after {
    content: '';
    display: block;
    margin: 5px 0 0;
  }
  .symbol-sidewalk::after {
    border-top: 2px solid #aaaaaa;
    margin: 7px 0 0;
  }
  .symbol-offstreet::after {
    border-top: 5px solid #ff8080;
  }
  .symbol-bikelane::after {
    border-top: 5px solid #66b3ff;
  }
  .symbol-sharrows::after {
    border-top: 5px solid #f266ff;
  }
  .symbol-bikeroute::after {
    border-top: 5px solid #ffff66;
  }
}
