<ion-list no-lines>
  <ion-item (click)="selected(undefined)" *ngIf="!search.isGPS">
    <ion-icon name="locate"></ion-icon> Current Location</ion-item>
  <ion-item *ngIf="isNew" (click)="selected(null)">
    <ion-icon *ngIf="search.isGPS" name="locate"></ion-icon> {{search.city}} </ion-item>
  <ion-list-header *ngIf="locations.length > 0">Saved Locations</ion-list-header>
  <ion-item *ngFor="let place of locations" (click)="selected(place)">
    <ion-icon *ngIf="isCurrent(place)" name="locate"></ion-icon> {{place.city}}</ion-item>
</ion-list>