<div>
	<ion-list-header>
		<ion-grid>
			<ion-row>
				<ion-col>Date</ion-col>
				<ion-col>Weight</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list-header>
	<ion-list>
		<ion-item-sliding *ngFor="let entry of weights">
			<ion-item>
				<ion-label>{{entry.date}}</ion-label>
				<ion-label>{{entry.weight}}</ion-label>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="danger">
					<ion-icon name="trash"></ion-icon>
					Trash
				</button>
				<button ion-button>
					<ion-icon name="create"></ion-icon>
					Edit
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</div>
