<div class="panel panel-primary" *ngIf="sensor">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + sensor.sensorName}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{sensor.name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Code:</div>
                    <div class="col-md-6">{{sensor.modelid}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Manufacturer:</div>
                    <div class="col-md-6">{{sensor.manufacturer}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Availability:</div>
                    <div class="col-md-6">{{sensor.releaseDate}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price:</div>
                    <div class="col-md-6">{{sensor.price|currency:"USD":true}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">5 Star Rating:</div>
                    <div class="col-md-6">
                        <ai-star [rating]="sensor.starRating"
                                (ratingClicked)="onRatingClicked($event)">
                        </ai-star>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Tags:</div>
                    <div class="col-md-6">{{sensor.tags}}</div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="sensor.imageUrl">
                <img class="center-block img-responsive" 
                     [style.width.px]="200" 
                     [style.margin.px]="2" 
                     [src]="sensor.imageUrl"
                     [title]="sensor.sensorName">
            </div>
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" 
           [routerLink]="['/sensorEdit', sensor.id]">
            Edit
        </a>
    </div>
</div>